.nav {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navlink {
    text-decoration: none;
    display: inline-block;
    height: 18px;
    width: 70px;
    background-color: lightgrey;
    margin: 0px 10px 10px 0px;
    border-radius: 8px;
    font-size: 12px;
}

.logo {
    padding-top: 31px;
    padding-bottom: 28px;
}
/* 
* {
    border: 1px solid red;
} */