:root {
  --main: #009AFA;
  --dark: #1D1D1F;
  --light: #F5F5F7;
  --white: white;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light);
}